html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  box-sizing: border-box; }

body {
  line-height: 1;
  -webkit-text-size-adjust: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button {
  outline: 0;
  border: 0; }

button {
  background-color: transparent; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

input, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: unset;
  border-radius: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.btn-wrapp .btn-blue {
  text-decoration: none;
  border: none;
  outline: none; }

.btn-wrapp .btn-blue, .with-hover {
  transition: all 0.3s; }

.btn-wrapp .btn-blue:hover, .with-hover:hover {
  opacity: 0.8; }

@font-face {
  font-family: 'TiemposHeadline-Black';
  src: url("../fonts/TiemposHeadline-Black.woff2") format("woff2"), url("../fonts/TiemposHeadline-Black.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'TiemposHeadline-Medium';
  src: url("../fonts/TiemposHeadline-Medium.woff2") format("woff2"), url("../fonts/TiemposHeadline-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: medium; }

@font-face {
  font-family: 'TiemposHeadline-Light';
  src: url("../fonts/TiemposHeadline-Light.woff2") format("woff2"), url("../fonts/TiemposHeadline-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: medium; }

@font-face {
  font-family: 'PaTiemposHeadline-Light';
  src: url("../fonts/TiemposHeadline-Light.woff2") format("woff2"), url("../fonts/TiemposHeadline-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TiemposText-Bold';
  src: url("../fonts/TiemposText-Bold.woff2") format("woff2"), url("../fonts/TiemposText-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TiemposText-Regular';
  src: url("../fonts/TiemposText-Regular.woff2") format("woff2"), url("../fonts/TiemposText-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TiemposText-BoldItalic';
  src: url("../fonts/TiemposText-BoldItalic.woff2") format("woff2"), url("../fonts/TiemposText-BoldItalic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TiemposText-Italic';
  src: url("../fonts/TiemposText-Italic.woff2") format("woff2"), url("../fonts/TiemposText-Italic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  box-sizing: border-box; }

body {
  background-color: #000;
  line-height: 1;
  -webkit-text-size-adjust: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button {
  outline: 0;
  border: 0; }

button {
  background-color: transparent; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

input, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: unset;
  border-radius: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.glossary-left .alfa,
.glossary-left .paragraf {
  scrollbar-width: none; }

body::-webkit-scrollbar,
.glossary-left .alfa::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; }

.container {
  padding: 0 0 0 73px; }

h1,
.h1 {
  font-family: 'Paralucent', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 47px;
  letter-spacing: 0.02em; }

h2,
.h2 {
  font-family: 'TiemposHeadline-Medium';
  font-weight: 500;
  font-size: 61px;
  line-height: 67px;
  color: #fff; }

h3,
.h3 {
  font-family: 'TiemposHeadline-Medium';
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: #fff; }

h4,
.h4 {
  font-family: 'TiemposHeadline-Medium';
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  color: #fff; }

h5,
.h5 {
  font-family: 'PaTiemposHeadline-Light';
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #fff; }

p {
  font-family: 'TiemposText-Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #fff; }

.btn-wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%; }
  .btn-wrapp .btn-blue {
    height: 64px;
    width: 48%;
    display: flex;
    align-items: center;
    background-color: #068ed9;
    justify-content: center;
    line-height: 1.4;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px; }

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 10px; }
  input[type='checkbox']:checked {
    background-image: url("../../images/checkbox.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

form input.error {
  color: #cc0000 !important; }
  form input.error::placeholder {
    color: #cc0000 !important;
    opacity: 1 !important; }

@media all and (min-width: 998px) {
  .show_mobile {
    display: none !important; } }

@media all and (max-width: 998px) {
  .hide_mobile {
    display: none !important; } }

#page.opened,
#footer.opened {
  display: none; }

.flex {
  display: flex; }

.iflex {
  display: inline-flex; }

.fac {
  align-items: center; }

.fae {
  align-items: flex-end; }

.fas {
  align-items: flex-start; }

.fjb {
  justify-content: space-between; }

.fja {
  justify-content: space-around; }

.fjc {
  justify-content: center; }

.fje {
  justify-content: flex-end; }

.fdc {
  flex-direction: column; }

.fdc-reverse {
  flex-direction: column-reverse; }

.fdr {
  flex-direction: row; }

.fdr-reverse {
  flex-direction: row-reverse; }

.fwrap {
  flex-wrap: wrap; }

.trans {
  transition: all 0.3s; }

.ttu {
  text-transform: uppercase; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.transparent {
  opacity: 0; }

.hidden {
  display: none; }

.nodrag {
  pointer-events: none; }

.fullw {
  width: 100%; }

img {
  width: 100%; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

a {
  color: inherit; }

/* components imports */
.header nav .nav-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 28px 31px;
  border-bottom: 1px solid #5e5e5e; }
  @media (max-width: 768px) {
    .header nav .nav-cont {
      justify-content: inherit;
      border-bottom: 0;
      padding: 20px; } }
  .header nav .nav-cont .header-left .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 30px;
    height: 16px;
    transition: 0.3s;
    border: 1px solid #000; }
    .header nav .nav-cont .header-left .burger .bar1,
    .header nav .nav-cont .header-left .burger .bar2,
    .header nav .nav-cont .header-left .burger .bar3 {
      width: 30px;
      border-bottom: 2px solid #ffffff;
      margin-bottom: 8px;
      transition: all 0.4s; }
    .header nav .nav-cont .header-left .burger .bar3 {
      margin-bottom: 0; }
    .header nav .nav-cont .header-left .burger.change .bar1 {
      transform: rotate(-45deg) translate(0px, 2px); }
    .header nav .nav-cont .header-left .burger.change .bar2 {
      opacity: 0; }
    .header nav .nav-cont .header-left .burger.change .bar3 {
      margin-bottom: 0;
      transform: rotate(45deg) translate(-1px, -3px); }
  .header nav .nav-cont .header-left .change .bar1,
  .header nav .nav-cont .header-left .change .bar2,
  .header nav .nav-cont .header-left .change .bar3 {
    border-bottom: 2px solid #fff;
    margin-bottom: 0; }
  @media (max-width: 768px) {
    .header nav .nav-cont .header-center {
      display: block;
      margin: 0 auto; } }
  @media (max-width: 992px) {
    .header nav .nav-cont .header-center .desktop-img {
      display: none; } }
  .header nav .nav-cont .header-center .mobile-img {
    display: none; }
    @media (max-width: 992px) {
      .header nav .nav-cont .header-center .mobile-img {
        display: block; } }
  @media (max-width: 768px) {
    .header nav .nav-cont .header-right {
      display: none; } }
  .header nav .nav-cont .header-right ul {
    display: flex;
    align-items: center; }
    .header nav .nav-cont .header-right ul li {
      margin-right: 29px; }
      .header nav .nav-cont .header-right ul li:last-child {
        margin-right: 0; }
      .header nav .nav-cont .header-right ul li a {
        font-family: 'TiemposText-Regular';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #ffffff; }

@media (max-width: 992px) {
  .about .container {
    padding: 0; } }

.about .container .about-cont {
  display: flex;
  padding-top: 48px;
  padding-bottom: 19px;
  background-image: url(../img/man-desktop-img.svg);
  background-repeat: no-repeat;
  background-position-x: 49%;
  background-position-y: 45px;
  z-index: 10;
  height: 100%; }
  @media (max-width: 1400px) {
    .about .container .about-cont {
      background-position-x: 48%; } }
  @media (max-width: 992px) {
    .about .container .about-cont {
      padding-top: 96px;
      padding-bottom: 0;
      flex-direction: column;
      background-image: none;
      background-position-x: 50%;
      background-position-y: 50%; } }
  .about .container .about-cont .about-left {
    width: 50%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 992px) {
      .about .container .about-cont .about-left {
        width: 100%;
        max-width: 335px;
        margin: 0 auto 20px;
        text-align: center; } }
    @media (max-width: 500px) {
      .about .container .about-cont .about-left {
        margin-bottom: 0; } }
    .about .container .about-cont .about-left .title {
      margin-bottom: 28px; }
      @media (max-width: 768px) {
        .about .container .about-cont .about-left .title {
          margin-bottom: 11px; } }
      .about .container .about-cont .about-left .title h2 {
        margin-bottom: 39px; }
        @media (max-width: 1145px) {
          .about .container .about-cont .about-left .title h2 {
            font-size: 50px;
            line-height: 56px; } }
        @media (max-width: 992px) {
          .about .container .about-cont .about-left .title h2 {
            font-size: 40px;
            line-height: 46px; } }
        @media (max-width: 768px) {
          .about .container .about-cont .about-left .title h2 {
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 29px; } }
      .about .container .about-cont .about-left .title h4 {
        max-width: 309px; }
        @media (max-width: 1145px) {
          .about .container .about-cont .about-left .title h4 {
            font-size: 25px; } }
        @media (max-width: 992px) {
          .about .container .about-cont .about-left .title h4 {
            font-size: 22px;
            line-height: 28px;
            max-width: 100%; } }
        @media (max-width: 768px) {
          .about .container .about-cont .about-left .title h4 {
            font-size: 20px;
            line-height: 28px; } }
    .about .container .about-cont .about-left p {
      max-width: 292px; }
      @media (max-width: 1145px) {
        .about .container .about-cont .about-left p {
          line-height: 20px; } }
      @media (max-width: 992px) {
        .about .container .about-cont .about-left p {
          max-width: 100%;
          text-align: center;
          line-height: 20px; } }
  .about .container .about-cont .about-center {
    display: none; }
    @media (max-width: 992px) {
      .about .container .about-cont .about-center {
        display: block; }
        .about .container .about-cont .about-center img {
          max-height: 700px;
          display: flex;
          object-fit: cover; } }
  .about .container .about-cont .about-right {
    width: 50%;
    z-index: -1; }
    @media (max-width: 992px) {
      .about .container .about-cont .about-right {
        width: 100%; } }
    .about .container .about-cont .about-right .all-items {
      display: flex;
      flex-direction: column; }
      .about .container .about-cont .about-right .all-items .item {
        width: 100%;
        height: 105px;
        background-color: #c24bed; }
        @media (max-width: 992px) {
          .about .container .about-cont .about-right .all-items .item {
            height: 137px; } }
        .about .container .about-cont .about-right .all-items .item .item-info {
          padding: 17px 15px 14px 230px; }
          @media (max-width: 1326px) {
            .about .container .about-cont .about-right .all-items .item .item-info {
              padding: 8px 15px 0 230px; } }
          @media (max-width: 992px) {
            .about .container .about-cont .about-right .all-items .item .item-info {
              padding: 22px 0;
              text-align: center; } }
          @media (max-width: 1145px) {
            .about .container .about-cont .about-right .all-items .item .item-info h3 {
              font-size: 20px;
              line-height: 22px; } }
          @media (max-width: 992px) {
            .about .container .about-cont .about-right .all-items .item .item-info h3 {
              margin-bottom: 5px; } }
          .about .container .about-cont .about-right .all-items .item .item-info p {
            line-height: 20px; }
            @media (max-width: 1326px) {
              .about .container .about-cont .about-right .all-items .item .item-info p {
                max-width: 280px; } }
            @media (max-width: 992px) {
              .about .container .about-cont .about-right .all-items .item .item-info p {
                max-width: 309px;
                margin: 0 auto 5px; } }
          .about .container .about-cont .about-right .all-items .item .item-info span {
            font-family: 'TiemposHeadline-Light';
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.02em;
            color: #fff;
            text-transform: uppercase; }
            @media (max-width: 1145px) {
              .about .container .about-cont .about-right .all-items .item .item-info span {
                font-size: 16px;
                line-height: 22px; } }

@media (max-width: 768px) {
  footer .footer {
    padding: 55px 0 30px 0; } }

footer .footer p {
  display: none; }
  @media (max-width: 768px) {
    footer .footer p {
      display: block;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: inherit;
      text-align: center; } }
