.mobile-version {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding: 55px 0 0 73px;
  max-width: 444px;
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    border: 1px solid #000;
    margin-bottom: 50px;
    .bar1,
    .bar2,
    .bar3 {
      width: 30px;
      border-bottom: 2px solid #ffffff;
      margin-bottom: 8px;
      transition: all 0.4s;
    }

    &.change .bar1 {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    &.change .bar2 {
      opacity: 0;
    }
    &.change .bar3 {
      transform: rotate(45deg) translate(-4px, -5px);
    }
  }
  .change {
    .bar1,
    .bar2,
    .bar3 {
      border-bottom: 2px solid #fff;
    }
  }
  .nav-wrap {
    nav {
      > ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 137px;
        > li {
          margin-bottom: 27px;
          &:last-child {
            margin-bottom: 0;
          }
          > a {
            font-family: 'TiemposText-Regular';
            font-size: 22px;
            line-height: 22px;
            color: #fff;
            transition: 0.3s;
          }
        }
        .has-submenu {
          display: flex;
          flex-direction: column;
          .submenu {
            margin-top: 27px;
            li {
              margin-bottom: 12px;
              &:last-child {
                margin-bottom: 0;
              }
              a {
                font-family: 'TiemposText-Regular';
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .for-mobile {
      margin-bottom: 158px;
      .logo {
        max-width: 100px;
        margin-bottom: 32px;
      }
      p {
        line-height: 20px;
      }
    }
  }
}
