.news-page {
  .header {
    nav {
      .nav-cont {
        border-bottom: 0;
        padding-bottom: 69px;
      }
    }
  }
}
.single {
  .container {
    padding: 0 74px;
    @media (max-width: 1245px) {
      padding: 0 50px;
    }
    @media (max-width: 992px) {
      padding: 0 20px;
    }
    nav {
      .single-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 368px;
        height: 100%;
        margin-bottom: 50px;
        @media (max-width: 1100px) {
          display: none;
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

          li {
            margin-right: 19px;
            padding-right: 19px;
            display: flex;
            align-items: center;
            transition: 0.3s ease-in-out;
            position: relative;
            &:last-child {
              margin-right: 0;
              padding-right: 0;
              &::after {
                display: none;
              }
            }
            a {
              font-family: 'TiemposText-Regular';
              font-size: 16px;
              line-height: 16px;
              color: #fff;
              transition: all 0.5s;
            }
            &::after {
              content: '';
              position: absolute;
              width: 14px;
              height: 17px;
              background-image: url(../img/star.svg);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              right: -6px;
            }
          }
          .current a {
            font-family: 'TiemposText-Regular';
            font-size: 16px;
            line-height: 16px;
            color: #fff;
            opacity: 0.6;
            transition: all 0.5s;
            @media (max-width: 992px) {
              font-size: 30px;
              line-height: 33px;
            }
            @media (max-width: 768px) {
              font-size: 20px;
              line-height: 22px;
            }
          }
        }
      }
      .all-items {
        max-width: 1772px;
        margin: 0 auto;
        .single,
        .tinctures,
        .livmor {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .single-all {
            width: 100%;
            margin-bottom: 131px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 1100px) {
              flex-direction: column;
            }
            @media (max-width: 992px) {
              margin-bottom: 0;
            }
            .single-left {
              width: 30%;
              @media (max-width: 1100px) {
                order: 2;
                width: 100%;
                margin-bottom: 88px;
              }
              .single-left-head {
                max-width: 368px;
                width: 100%;
                @media (max-width: 1100px) {
                  max-width: 100%;
                }
                .title {
                  margin-bottom: 17px;
                  @media (max-width: 768px) {
                    margin-bottom: 8px;
                  }
                  h2 {
                    @media (max-width: 1380px) {
                      font-size: 50px;
                      line-height: 57px;
                    }
                    @media (max-width: 1200px) {
                      font-size: 40px;
                      line-height: 47px;
                    }
                    @media (max-width: 768px) {
                      font-size: 24px;
                      line-height: 27px;
                    }
                  }
                }
                .single-left-info {
                  span {
                    font-family: 'TiemposHeadline-Light';
                    font-weight: 300;
                    font-size: 32px;
                    line-height: 35px;
                    color: #ffffff;
                    display: inline-block;
                    margin-bottom: 14px;
                    @media (max-width: 1380px) {
                      font-size: 26px;
                      line-height: 30px;
                    }
                    @media (max-width: 1200px) {
                      font-size: 23px;
                      line-height: 26px;
                    }
                    @media (max-width: 768px) {
                      font-size: 20px;
                      line-height: 22px;
                      margin-bottom: 24px;
                    }
                  }
                  .descr {
                    margin-bottom: 47px;
                    @media (max-width: 1100px) {
                      display: none;
                    }
                    p {
                      max-width: 312px;
                      line-height: 20px;
                    }
                  }

                  .all-selects {
                    @media (max-width: 1100px) {
                      margin-bottom: 35px;
                    }
                    .celect-colors {
                      width: 100%;
                      display: flex;
                      margin-bottom: 17px;
                      .label {
                        font-family: 'TiemposHeadline-Light';
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 22px;
                        color: #ffffff;
                        margin-right: 20px;
                        @media (max-width: 1200px) {
                          font-size: 18px;
                          line-height: 18px;
                        }
                        @media (max-width: 1100px) {
                          font-size: 16px;
                          margin-right: 27px;
                        }
                      }
                      input {
                        background-color: #000;
                        font-family: 'TiemposHeadline-Medium';
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 22px;
                        max-width: 70px;
                        padding-bottom: 9px;
                        border-bottom: 1px solid #ffffff;
                        @media (max-width: 1200px) {
                          font-size: 18px;
                          line-height: 18px;
                        }
                        @media (max-width: 1100px) {
                          font-size: 16px;
                          margin-right: 27px;
                          padding-bottom: 5px;
                        }
                      }
                    }
                    .celect {
                      width: 100%;
                      display: flex;
                      margin-bottom: 63px;
                      @media (max-width: 1100px) {
                        margin-bottom: 24px;
                      }
                      label {
                        font-family: 'TiemposHeadline-Light';
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 22px;
                        color: #ffffff;
                        margin-right: 12px;
                        @media (max-width: 1200px) {
                          font-size: 18px;
                          line-height: 18px;
                        }
                        @media (max-width: 1100px) {
                          font-size: 16px;
                          margin-right: 18px;
                        }
                      }

                      .custom-select {
                        position: relative;

                        select {
                          display: none;
                        }
                        .select-selected {
                          font-family: 'TiemposHeadline-Light';
                          font-size: 20px;
                          line-height: 22px;
                          color: #fff;
                          position: relative;
                          cursor: pointer;
                          padding-right: 30px;
                          padding-bottom: 7px;
                          border-bottom: 1px solid #ffffff;
                          @media (max-width: 1200px) {
                            font-size: 18px;
                            line-height: 18px;
                            padding-right: 23px;
                          }
                          @media (max-width: 1100px) {
                            padding-right: 31px;
                            font-size: 16px;
                          }
                          &::after {
                            position: absolute;
                            display: block;
                            content: '';
                            background-image: url(../../img/arrow-down.svg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            top: 9px;
                            right: 0;
                            width: 15px;
                            height: 6px;
                            @media (max-width: 767px) {
                              right: 8px;
                            }
                          }
                        }
                        .select-items {
                          padding: 15px 7px 16px 9px;
                          position: absolute;
                          border: 1px solid #fff;
                          background-color: #000;
                          max-height: 400px;
                          width: 144px;
                          top: calc(100% - 1px);
                          left: 0;
                          z-index: 99;
                          cursor: pointer;
                          transition: all 0.3s ease-in-out;
                          @media (max-width: 1100px) {
                            padding: 15px 18px 16px 14px;
                          }
                          div {
                            font-family: 'TiemposHeadline-Light';
                            font-size: 20px;
                            line-height: 22px;
                            color: #fff;
                            margin-bottom: 9px;
                            padding-bottom: 5px;
                            border-bottom: 1px solid #ffffff;
                            @media (max-width: 1200px) {
                              font-size: 18px;
                              line-height: 18px;
                            }
                            @media (max-width: 1100px) {
                              font-size: 14px;
                              line-height: 15px;
                            }
                          }
                        }
                        .select-hide {
                          display: none;
                        }
                      }
                    }
                    p {
                      display: none;
                      @media (max-width: 1100px) {
                        display: block;
                      }
                    }
                  }

                  .button {
                    width: 100%;
                    max-width: 311px;
                    position: relative;
                    @media (max-width: 1100px) {
                      max-width: 335px;
                    }
                    button {
                      max-width: 224px;
                      width: 100%;
                      padding: 21px 55px;
                      background-color: #fff;
                      font-family: 'TiemposHeadline-Medium';
                      font-weight: 500;
                      font-size: 20px;
                      line-height: 22px;
                      letter-spacing: 0.045em;
                      color: #000000;
                      cursor: pointer;
                      @media (max-width: 1100px) {
                        font-size: 16px;
                        line-height: 18px;
                        max-width: 264px;
                        padding: 17px 86px;
                      }
                    }
                    &::after {
                      content: '';
                      position: absolute;
                      background-image: url(../../img/hart.svg);
                      background-position: center;
                      background-repeat: no-repeat;
                      width: 22px;
                      height: 19px;
                      right: 0;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                      padding: 17px 15px 17px 16px;
                      border: 1px solid #ffffff;
                      border-radius: 100%;
                      @media (max-width: 1100px) {
                        width: 19px;
                        height: 16px;
                      }
                    }
                  }
                }
              }
            }
            .single-center {
              width: 45.8%;
              margin-right: 47px;
              display: flex;
              justify-content: center;
              @media (max-width: 1300px) {
                margin-right: 20px;
              }
              @media (max-width: 1100px) {
                order: 1;
                margin-right: 0;
                margin-bottom: 50px;
                width: 100%;
              }
              .click {
                @media (max-width: 1400px) {
                  width: 500px;
                  height: 500px;
                }
                @media (max-width: 1200px) {
                  width: 450px;
                  height: 450px;
                }
                @media (max-width: 768px) {
                  width: 430px;
                  height: 430px;
                }
                @media (max-width: 400px) {
                  width: 334px;
                  height: 326px;
                }
                .click-img {
                  cursor: pointer;
                  transition: 0.3s;
                }
              }
            }
            .single-right {
              width: 24.2%;
              @media (max-width: 1100px) {
                order: 3;
                width: 100%;
              }
              .single-right-head {
                width: 100%;
                .title {
                  padding-bottom: 46px;
                  border-bottom: 1px solid #ffffff;
                  @media (max-width: 768px) {
                    padding-bottom: 40px;
                  }
                  h3 {
                    @media (max-width: 768px) {
                      font-size: 20px;
                      line-height: 22px;
                    }
                  }
                }
                ul {
                  li {
                    border-bottom: 1px solid #ffffff;

                    a {
                      padding: 25px 0;
                      width: 100%;
                      display: inline-block;
                      font-family: 'TiemposHeadline-Light';
                      font-weight: 300;
                      font-size: 20px;
                      line-height: 22px;
                      color: #ffffff;
                      position: relative;
                      @media (max-width: 768px) {
                        font-size: 16px;
                        line-height: 18px;
                        padding: 20px 0;
                      }
                      &::after {
                        transition: all ease 0.3s;
                        content: '';
                        position: absolute;
                        background-image: url(../img/star.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 18px;
                        height: 19px;
                        right: 0;
                      }
                    }

                    .descr {
                      display: none;
                      padding-bottom: 25px;

                      p {
                        line-height: 20px;
                      }
                    }
                  }
                  .open {
                    a {
                      &::after {
                        opacity: 0.6;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        @keyframes example {
          from {
            margin-top: 400px;
            margin-left: 100px;
          }
          to {
            margin-top: 0;
            margin-left: 0;
          }
        }
      }
    }
  }
}

.outlined {
  outline-color: white;
  outline-style: solid;
  outline-width: 10px;
  outline-offset: -10px;
}

footer {
  .footer {
    border-top: 0;
    @media (max-width: 992px) {
      background-color: #000;
      padding: 97px 0 30px 0;
      text-align: center;
    }
    p {
      @media (max-width: 992px) {
        display: block;
        line-height: 14px;
        letter-spacing: inherit;
      }
    }
  }
}
